<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<title>공략 작성</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
    <style>
        .container {
            max-width: 560px;
        }
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>공략 작성</h2>
    </div>

    <form th:action="@{/strategy/add(champion=${champion})}" method="POST" >

        <div>
            <label for="subject" >제목</label>
            <input type="text" name="subject" class="form-control" placeholder="제목을 입력하세요.">


        </div>
        <div>
            <label for="contents">내용</label>
            <textarea cols="150" rows="10" name="contents"  class="form-control" placeholder="내용을 입력하세요.">
            </textarea>

        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button 
                class="w-100 btn btn-primary btn-lg" 
                th:onclick="|location.href='@{/strategy/{champ}(champ=${champion})}'|"
                type="submit" >저장</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/strategy/champion}'|"
                        type="button" >취소</button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>